
\.vscode/

include/uav_ftc/__pycache__/

mpc_models/*/CMakeFiles
mpc_models/*/CMakeCache.txt
mpc_models/*/*.cmake
mpc_models/*/*_codegen
mpc_models/*/Makefile
mpc_models/*/*/qpoases
mpc_models/rate_controller/rate_controller_mpc_solver/*
!mpc_models/rate_controller/rate_controller_mpc_solver/acado_problem_definitions.h
mpc_models/trajectory_controller/trajectory_controller_mpc_solver/*
!mpc_models/trajectory_controller/trajectory_controller_mpc_solver/acado_problem_definitions.h
mpc_models/rate_controller_no_rud/rate_controller_mpc_solver/*
!mpc_models/rate_controller_no_rud/rate_controller_mpc_solver/acado_problem_definitions.h
mpc_models/trajectory_controller_no_rud/trajectory_controller_mpc_solver/*
!mpc_models/trajectory_controller_no_rud/trajectory_controller_mpc_solver/acado_problem_definitions.h
mpc_models/trajectory_controller_no_va/trajectory_controller_mpc_solver/*
!mpc_models/trajectory_controller_no_va/trajectory_controller_mpc_solver/acado_problem_definitions.h

utilities/*
scrap_scripts/*
plotting_scripts/figures/*

logs/*

*.pyc
