<launch>

    <!-- UNUSED, Connect model input with joystick -->
    <arg name="manualMode"/>
    <!-- UNUSED, Connect model input with a controller node -->
    <arg name="autoMode"/>
    <!-- uav_name parameter which selects aircraft namespace -->
    <arg name="uav_name"/>

    <group ns="$(arg uav_name)">
        <node pkg="uav_ftc" name="reference_generator" type="reference_generator" output="screen"/>
        <!-- <node pkg="uav_ftc" name="rate_controller" type="rate_controller" output="screen" launch-prefix="gdb -ex run -args"> -->
        <node pkg="uav_ftc" name="rate_controller" type="rate_controller" respawn="true" output="screen">
            <remap from="refRates" to="refCmds"/>
        </node>
        <node pkg="uav_ftc" name="input_aggregator" type="input_aggregator" output="screen"/>
    </group>
</launch>