<launch>

    <!-- Load controller parameters -->
    <rosparam command="load" file="$(find uav_ftc)data/parameters/controller_params.yaml" />
    
    <!-- Raise rate controller -->
    <node pkg="uav_ftc" name="rate_controller" type="rate_controller" respawn="true" output="screen">
        <remap from="~rate" to="ctrlRateRate"/>
    </node>
    <!-- Raise velocity controller -->
    <node pkg="uav_ftc" name="trajectory_controller" type="trajectory_controller" respawn="true" output="screen">
        <remap from="~rate" to="ctrlTrajectoryRate"/>
        <remap from="~deltaFMin" to="deltaFMin"/>
        <remap from="~pMin" to="pMin"/>
        <remap from="~qMin" to="qMin"/>
        <remap from="~rMin" to="rMin"/>
        <remap from="~deltaFMax" to="deltaFMax"/>
        <remap from="~pMax" to="pMax"/>
        <remap from="~qMax" to="qMax"/>
        <remap from="~rMax" to="rMax"/>
    </node>

    <!-- Raise path controller -->
    <!-- <node pkg="uav_ftc" name="path_controller" type="path_controller" respawn="true" output="screen" launch-prefix="gdb -ex run -args"/>  -->
    <node pkg="uav_ftc" name="path_controller" type="path_controller" respawn="true" output="screen">
        <remap from="~rate" to="ctrlPathRate"/>
    </node>

    <!-- Raise input aggreggator node -->
    <node pkg="uav_ftc" name="input_aggregator" type="input_aggregator" output="screen">
        <remap from="~rate" to="/world/simRate"/>
    </node>


</launch>