<!-- Top-Level launch file for bundled launching /-->
<!-- Launcher for the uav_ftc package -->

<launch>
    <!-- Available arguments -->
    <arg name="manualMode" default="false"/>
    <arg name="autoMode" default="true"/>
    <arg name="uav_name" default="skywalker_2013"/>
    <arg name="log" default="false"/>
    <!-- <arg name="groundCam" default="false"/> -->
    <arg name="scenario" default="none"/>
    <arg name="shutdownOnScenarioEnd" default="true"/>

    <!-- External optional arguments -->
    <arg name="home" default="nan"/>
    <arg name="simRate" default="nan"/>
    <arg name="deltaT" default="nan"/>

    <!-- Enable simulation clock -->
    <param name="use_sim_time" type="bool" value="true" />

    <!-- Initialization of parameters -->
    <group ns="$(arg uav_name)">
        <!-- Load general parameters -->
        <rosparam command="load" file="$(find uav_ftc)data/parameters/params.yaml" />
    </group>

    <!-- Input nodes -->
    <group ns="$(arg uav_name)">
        <!--		<node pkg="last_letter" name="virtualJoy" type="virtualJoy" output="screen" />-->
        <!-- Load input device configuration and channel mappings -->
        <rosparam command="load" file="$(find last_letter)data/parameters/HID.yaml" />
        <!-- Start joystick drivers -->
        <node pkg="joy" type="joy_node" name="joystick" output="screen">
            <param name="dev" value="/dev/input/js0" />
            <param name="deadzone" value="0.01" />
        </node>
        <!-- Start joystick msg to PWM converter -->
        <node pkg="last_letter" name="joy2chan" type="joy2chan" output="screen">
        </node>
    </group>

    <!-- Launch the simulator /-->
    <include file="$(find uav_ftc)/launch/simulation.launch">
        <arg name="manualMode" value="$(arg manualMode)"/>
        <arg name="autoMode" value="$(arg autoMode)"/>
        <arg name="uav_name" value="$(arg uav_name)"/>
        <arg name="home" value="$(arg home)"/>
        <arg name="simRate" value="$(arg simRate)"/>
        <arg name="deltaT" value="$(arg deltaT)"/>
    </include>

    <!-- Launch the controller -->
    <include file="$(find uav_ftc)/launch/controller.launch">
        <arg name="manualMode" value="$(arg manualMode)"/>
        <arg name="autoMode" value="$(arg autoMode)"/>
        <arg name="uav_name" value="$(arg uav_name)"/>
    </include>

    <!-- Launch the scenario player -->
    <group ns="$(arg uav_name)">
        <node pkg="uav_ftc" name="scenario_player" type="scenario_player.py" output="screen" required="$(arg shutdownOnScenarioEnd)">
            <param name="scenario" value="$(arg scenario)"/>
        </node>
    </group>

    <!-- Launch the visualizers /-->
    <include file="$(find last_letter)/launch/visualization.launch">
        <arg name="uav_name" value="$(arg uav_name)" />
        <!-- <arg name="groundCam" value="$(arg groundCam" /> -->
    </include>

    <!-- Raising auxiliary nodes -->
    <group>
        <node if="$(arg log)" pkg="rosbag" name="recorder" type="record" args="-O UAV_recording.bag -a"/>
        <!-- topic activity recorder node -->
    </group>

</launch>