<!-- Launch file for logging of relevant topics -->
<launch>

    <!-- Record all topics related to uav_ftc experiment -->
    <!-- <node pkg="rosbag" name="recorder" type="record" args="-o UAV_recording refTrajectory refRates minidaq_peripherals gps/fix gps/fix_velocity dataBus attitude imu/data imu/temperature rc_raw output_raw command status"/>  -->

    <!-- Record all topics -->
    <node pkg="rosbag" name="recorder" type="record" args="-o UAV_recording -a"/> 

</launch>