<launch>
<!-- Top-Level launch file for bundled launching /-->
<!-- Launcher for the uav_ftc package -->

	<!-- Available arguments -->
	<arg name="manualMode" default="false"/>
	<arg name="autoMode" default="false"/>
	<arg name="uav_name" default="skywalker_2013_mod"/>
	<arg name="log" default="false"/>
    <arg name="scenario" default="none"/>
    <arg name="shutdownOnScenarioEnd" default="false"/>

    <!-- Launch last-letter simulation nodes -->
    <include file="$(find uav_ftc)/launch/last_letter_nodes.launch" >
        <arg name="manualMode" value="$(arg manualMode)"/>
        <arg name="autoMode" value="$(arg autoMode)"/>
        <arg name="uav_name" value="$(arg uav_name)"/>
    </include>
    
    <!-- Launch uav_ftc-related nodes -->
    <group ns="$(arg uav_name)">

        <!-- Launch the online estimator -->
        <!-- <node pkg="aerodynamic_pi" name="aero_coeff_estimator" type="online_estimator.py" output="screen">
        </node> -->

        <include file="$(find uav_ftc)/launch/flight_envelope.launch" >
            <arg name="uav_name" value="$(arg uav_name)"/>
        </include>

        <!-- Visualization nodes -->
        <!-- Wind estimates-->
        <!-- <node name="EKF_plotter"
            pkg="rqt_plot"
            type="rqt_plot"
            args="/$(arg uav_name)/dataBus/wind/y /$(arg uav_name)/ekf/wind/y"
        /> -->

        <!-- Launch the databus generator -->
        <rosparam command="load" file="$(find uav_ftc)data/parameters/data_bus.yaml" />
        <node pkg="uav_ftc" name="data_bus" type="data_bus" output="screen">
            <param name="data_source" value="1"/>
        </node>

        <!--  -->
        <!-- Launch planner information -->
        <!--  -->

        <!-- Load planner parameters -->
        <rosparam command="load" file="$(find uav_planner)data/parameters/params.yaml" />
        <!-- Load map -->
        <rosparam command="load" file="$(find uav_planner)data/parameters/map_sparse.yaml" />
        <!-- <rosparam command="load" file="$(find uav_planner)data/parameters/map_mountains.yaml" /> -->

        <!-- Playback waypoints broadcasting from log file-->
        <node pkg="rosbag" name="replayer" type="play" args="-d 2 $(find uav_ftc)logs/waypoints_sparse_filtered_synched.bag">
            <remap from="/skywalker_2013_mod/waypoints" to="/$(arg uav_name)/waypoints"/>
            <remap from="/skywalker_2013_mod/obstacles" to="/$(arg uav_name)/obstacles"/>
            <remap from="/skywalker_2013_mod/rrt_path" to="/$(arg uav_name)/rrt_path"/>
        </node>
        <!-- <node pkg="rosbag" name="replayer" type="play" args="-d 2 waypoints_mountain_filtered_synched.bag"/> -->

        <!--  -->
        <!-- Launch controllers -->
        <!--  -->
        <include file="$(find uav_ftc)/launch/controller.launch" />

        <!--  -->
        <!-- Launch logger -->
        <!--  -->
        <group if="$(arg log)">
            <include file="$(find uav_ftc)/launch/logger.launch" />
        </group>

    </group>

</launch>